/*
 * -------------------------------------------------
 *  Nextflow config file for running at Garvan SGE
 * -------------------------------------------------
 * Use as follows:
 * nextflow run wescnv -profile garvan
 */

params {
  config_profile_name = 'Garvan profile'
  config_profile_description = 'Parameters to enable running on Garvan SGE'
  max_cpus = 8
  max_memory = 32.GB
  max_time = 24.h
}

executor {
  queueSize = 300
  pollInterval = '30s'
  submitRateLimit = '200/1min'
}

cleanup = false

docker {
  enabled=false
}

singularity {
      enabled = true
      runOptions = '--bind "\$TMPDIR" --bind "/share/" --bind "/paella/CRAMPipeline/projects/Glucoma"'
      cacheDir = "/share/ClusterShare/software/contrib/jossch/singularity_images/"
}

process {
    executor = 'sge'
    penv = 'smp'
    queue = 'short.q'
    errorStrategy = 'retry'
    maxRetries = 2
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    withName: cramCoverage {
      container = '/share/ClusterShare/software/contrib/jossch/singularity_images/mosdepth:0.3.2'
    }

    withLabel: bamTasks {
      cpus = 2
      /*beforeScript =
      """cp /share/ScratchGeneral/jossch/reference/gatk/hg38/Homo_sapiens_assembly38.fasta* \${TMPDIR}
      cp /share/ScratchGeneral/jossch/WEScnv/assets/Agilent_V5_targets-MAP100-GC-GC500-WD-M.bed \${TMPDIR}"""
      */

      clusterOptions = { "-S /bin/bash -V -j yes  -o output.log -l h_vmem=4G,mem_requested=4G,tmp_requested=15G,tmpfree=15G" }
    }

}


