/*
 * -------------------------------------------------
 *  Nextflow config file for running at Garvan Biowolf
 * -------------------------------------------------
 * Use as follows:
 * nextflow run wescnv -profile local
 */

process {
  withName: cramCoverage {
    container = '/share/ClusterShare/software/contrib/jossch/singularity_images/mosdepth:0.3.2'
    //publishDir [ "${params.outputDir}/CoverageSummary/", mode: "${saveMode}" , pattern: "*mosdepth.summary.txt", overwrite: false ]
  }

  withName: cramCounts {
    container = '/share/ClusterShare/software/contrib/jossch/singularity_images/hts_nim_tools:0.2.0'
  }
}

params {
  config_profile_name = 'Local profile'
  config_profile_description = 'Parameters to enable running on Garvan biowolf'
  max_cpus = 1
  max_memory = 8.GB
  max_time = 24.h
}

env {
  ref_fasta="/share/ScratchGeneral/jossch/reference/gatk/hg38/Homo_sapiens_assembly38.fasta"
  ref_fasta_index="/share/ScratchGeneral/jossch/reference/gatk/hg38/Homo_sapiens_assembly38.fasta.fai"
  target_bed="/share/ScratchGeneral/jossch/WEScnv/assets/Agilent_V5_targets-MAP100-GC-GC500-WD-M.bed"
}

executor {
  queueSize = 1
}

cleanup = false

docker {
  enabled=false
}

singularity {
      enabled = true
      runOptions = '--bind "/share/" --bind "/paella/CRAMPipeline/projects/Glucoma"'
      cacheDir = "/share/ClusterShare/software/contrib/jossch/singularity_images/"
}
